.logo img {
	vertical-align: middle;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-left: 45px;
}
.logo {
	margin-right: 850px;
}
* {
	margin: 0;
	padding: 0;
}
footer {
	margin-top: 38%;
	background-color: #1A1A1A;
	color: white;
}
header {
	display: flex;

}
.logo, .menu {
	vertical-align: middle;
	display: inline-block;
}
.menu a{
	vertical-align: middle;
	font-family: arial;
	font-size: 45px;
}
.menu li {
	margin-right: 50px;
	display: inline-block;
	vertical-align: middle;
}

.main_features{
	background: #F2F2F2;
	text-align: center;
	padding: 20px 0 100px 0;
	color: black;
}
.main_features h1{
	font-size: 45px;
	margin-bottom: 62px;
	font-family: arial;
}
.photo img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  margin: 10px auto;

}
.features_cards{
	display: inline-flex;
	font-family: arial;
}
.card{
	margin: 0 20px;
}
.programs{
	margin-top: 20px;
	text-align: center;
	padding: 20px 0 100px 0;
	color: black;
}
.programs h1{
	font-size: 45px;
	margin-bottom: 62px;
	font-family: arial;
}
.gallery img {
  width: 500px;
  height: 500px;
  padding-left: 0.3%;
  padding-bottom: 0.3%;
  padding-right: 0.3%;
  padding-top: 0.3%;
}
.gallery img:hover {
	opacity: 0.9;
}